/* ---------------------- CSS 초기화----------------------  */
html,body,header,h1,h2,ul,video,img{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:var(--color-black);
    font-family: var(--font-kr);
}

li{
    list-style-type: none;
}

a{
    color:var(--color-black);
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------- 재사용할 속성 ---------------------- */
:root{
    /* 컬러 */
    --color-white:rgb(255, 255, 255);
    --color-lightgrey:rgb(207, 207, 207);
    --color-midgrey:rgb(126, 125, 125);
    --color-darkgrey:rgb(66, 66, 66);
    --color-black:rgb(44, 44, 44);
	--color-timeline:rgb(143, 136, 136);;
   
    /* 글꼴 */
    --font-en:'Shadows Into Light', cursive;
    --font-kr:'Do Hyeon', sans-serif;
    
    /* 사이즈 */
    --size-1em:1em;
    --size-15em:1.5em;
    --size-2em:2em;
    --size-3em:3em;
    --size-4em:4em;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    transition: 0.5s;
}


/* ---------------------- 다크모드 ---------------------- */
body.active{
	background-color: var(--color-black);
    color:var(--color-white);
}

span.active,a.active{
    color:var(--color-white);
}

.section.active{
    background-color: var(--color-black);
}

.copyRight.active{
    color:var(--color-white);
}

.header-wrapper.active{
    color: white;
}

li.active{
    color:var(--color-white);
}

h1.active{
    color:var(--color-white);
}

.card.active{
    box-shadow: 0px 4px 15px #d7d7d7;
}

#navBarList.active{
    color:white;
}

.DarkMode{
    margin:auto;
}

#toggle{
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    background: rgb(236, 234, 234);
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05),
  }
#toggle.active{
    background: var(--color-black);
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
            inset 0 8px 8px rgba(0,0,0,0.1),
            inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle .indicator{
    position: absolute;
    top:0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0.9);
    background: linear-gradient(to bottom,#e9e9e9,#f9f9f9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 0 4px 4px rgba(255,255,255,1),
                inset 0 -4px 4px rgba(255,255,255,1);
    transition: 0.5s;
}

#toggle.active .indicator{
    position: absolute;
    left:30px;
    background: linear-gradient(to bottom,#444,#222);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 40px rgba(255,255,255,0.2),
                inset 0 -4px 40px rgba(255,255,255,0.2);
}

/* ---------------------- 헤더----------------------  */
header{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* 헤더 최상단 */
.header-wrapper{
    display: flex;
    position: fixed;
    width: 100%;
    height: 7.5vh;
    margin: 0 auto;
    justify-content: space-around;
    background: linear-gradient(0deg, #ffffff3b, #ffffff3d);
    border-bottom: 1px solid var(--color-darkgrey);
    font-weight: 500;
    z-index:1000;
}


/* 헤더 > 메인로고 */
main{
    width: 100%;
}

.mainlogo{
    font-size: 2vw;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.mainlogo img{
    width: 2.5vw;
    padding-right: 1vw;
}


/* 헤더 > 네비게이션바 */
.navBar{
    display: flex;
}

.navBar ul{
    display: flex;
    z-index: 10000;
	text-align:right;
    align-items: center;
}

.navBar ul>li{
    font-size: 1vw;
	padding-right:4em;
}

#navBarList a:hover{
    text-decoration: underline;
}

/* -------------------- 메인 -------------------- */

.section{
	position: relative;
    display: flex;
	justify-content:center;
	height:100vh;
	overflow: hidden;
    align-items: center;
	background-color:var(--color-white);
}

/* --------------------첫 화면-------------------- */
.greetings{
    background: url(images/macbook.png) 20px fixed;
	background-color:transparent;
    background-repeat : no-repeat;
    background-size: 98% 90%;
    height: 100vh;
    letter-spacing: 5px;
    font-weight: 700;
    /* font-size: 7vw; */
    line-height: 1.3em;
    text-align: center;
    /* background-color: yellow; */
} 


.greetingText{
    min-height: 25vh;
    z-index:2000;
    position: absolute;
    background: fixed;
    line-height: 1.5;
    width: 10v2ß;
    font-size: 6vw;
    top:20%;
    left: 20%;
    z-index: 0;
}

/* --------------------인트로-------------------- */
.intro{
    background:var(--color-white) fixed;
    align-items: center;
    display:flex;
}

.intro >.introTextBox{
    width: 70%;
    height: 100%;
    font-size: 5vw;
    letter-spacing: -2px;
    font-weight: 700;
    line-height: 1.7em;
    text-align: center;
    /* background-color: pink; */
}

.introTextBox .red{
    color:red;
}

.introTextBox >.siteName{
    padding-top: 0.3em;
    font-size: var(--size-2em);
}


/* 개발새발 글씨  */
.one{
	animation:textShow 3s;
}

.two{
	animation:textShow 4s;
}

.three{
	animation:textShow 5s;
}

.four{
	animation:textShow 6s;
}

/* 개발세발 애니메이션 */
@keyframes textShow{
    from{
        opacity: 0.3;
        transform: translateY(-100px) scale(0.5);
        color:rgb(202, 200, 200);
    }
    to{
        opacity: 1;
        transform: translateX(0) scale(1);
        color:var(--color-black);
    }
}


/* ---------------개발자 동기--------------- */
.introduce{
    font-size: 8vw;
    text-align: center;
    line-height:1.5em;
    letter-spacing: -5px;
    font-weight: 800;
	height:150vh;
	overflow:hidden;
    font-weight: 600;
}



/* 섹션2>배경비디오 안 본문내용 */
.introduce ul{
    position: absolute;
    width: 100%;
    height: 80%;
    top:20%;
    overflow: hidden;
    opacity: 0.8;
}

.introduce ul>li:nth-child(2){
	color:#f94945;
    font-weight: 800;
}

.introduce ul>li:nth-child(2):hover{
    transform: scale(1.5);  /* 빰빰 하고 2단계로 확장 필요*/
    opacity: 1;
  }


/* 포트폴리오 */
.BoxWrapper{
    width: 90%;
    height: 90%;
}

/*박스1*/
.center1{
    position: absolute;
    top:50%;
    left:20%;
    transform: translate(-50%,-50%); /*이동*/
}
/* 2.75 x 32.5 x 22.7cm  */
.box1{
    position: relative;
    width: 227px;
    height: 159px;
    transform: perspective(500px) rotate(-40deg) skew(25deg);/*원근감, 반시계방향으로 회전, x축 기준 25도 경사*/
    box-shadow: -90px 75px 20px rgba(0,0,0,.3); /*그림자*/
    background: #fff  url(/images/macbooksilver.png);
    background-size: cover;  
    background-size: 227px 159px; /*키보드 사진 사이즈*/
    background-repeat:no-repeat;
    background-position: 50% 50%;
    transition: 0.5s;
    font-size: 20px; 
    text-align: center;  
    font-weight: bold; 
    color:var(--color-white);
	background-color:#93949a;
    border-radius: 3px;       
}

.box1:hover{
    transform: perspective(500px) rotate(-40deg) skew(25deg) translate(50px,-50px);/*원근감, 반시계방향으로 회전, x축 기준 25도 경사*/
    box-shadow: -150px 115px 100px rgba(0,0,0,0.3);
}


.box1::before{
    content: '';
    color:antiquewhite;
    font-size: 25px;
    width: 159px;
    height: 19px; 
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-40deg) translate(-89px,3px) rotate(90deg) ; /*Y축 기준 으로 40도 경사,X축 Y축 회전*/ 
    background: #93949a ;
    background-repeat: no-repeat;
    border-radius: 2px;
}

.box1::after{
    content: ' ';
    color:#dc5e73;
    font-size: 20px;
    width:225px;
    height: 19px;
    position: absolute;
    top: 83px;
    left: 28px;
    transform: skewX(-52deg) translate(57px,74px);
    background: #93949a;
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 2px;
}

/*박스2*/
.center2{
    position: absolute;
    top:50%;
    left:40%;
    transform: translate(-50%,-50%); /*이동*/
}
/* 2.75 x 32.5 x 22.7cm  */
.box2{
    position: relative;
    width: 227px;
    height: 159px;
    transform: perspective(500px) rotate(-40deg) skew(25deg);/*원근감, 반시계방향으로 회전, x축 기준 25도 경사*/
    box-shadow: -90px 75px 20px rgba(0,0,0,.3); /*그림자*/
    background: #fff  url(/images/macbooksilver.png);
    background-size: cover;  
    background-size: 227px 159px; /*키보드 사진 사이즈*/
    background-repeat:no-repeat;
    background-position: 50% 50%;
    transition: 0.5s;
    font-size: 20px; 
    text-align: center;  
    font-weight: bold; 
    color:var(--color-white);
	background-color:#93949a;
    border-radius: 3px;       
}

.box2:hover{
    transform: perspective(500px) rotate(-40deg) skew(25deg) translate(50px,-50px);/*원근감, 반시계방향으로 회전, x축 기준 25도 경사*/
    box-shadow: -150px 115px 100px rgba(0,0,0,0.3);
}

.box2::before{
    content: '';
    color:antiquewhite;
    font-size: 25px;
    width: 159px;
    height: 19px; 
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-40deg) translate(-89px,3px) rotate(90deg) ; /*Y축 기준 으로 40도 경사,X축 Y축 회전*/ 
    background: #93949a ;
    background-repeat: no-repeat;
    border-radius: 2px;
}

.box2::after{
    content: ' ';
    color:#dc5e73;
    font-size: 20px;
    width:225px;
    height: 19px;
    position: absolute;
    top: 83px;
    left: 28px;
    transform: skewX(-52deg) translate(57px,74px);
    background: #93949a;
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 2px;
}

/*박스3*/
.center3{
    position: absolute;
    top:50%;
    left:60%;
    transform: translate(-50%,-50%); /*이동*/
}
/* 2.75 x 32.5 x 22.7cm  */
.box3{
    position: relative;
    width: 227px;
    height: 159px;
    transform: perspective(500px) rotate(-40deg) skew(25deg);/*원근감, 반시계방향으로 회전, x축 기준 25도 경사*/
    box-shadow: -90px 75px 20px rgba(0,0,0,.3); /*그림자*/
    background: #fff  url(/images/macbooksilver.png);
    background-size: cover;  
    background-size: 227px 159px; /*키보드 사진 사이즈*/
    background-repeat:no-repeat;
    background-position: 50% 50%;
    transition: 0.5s;
    font-size: 20px; 
    text-align: center;  
    font-weight: bold; 
    color:var(--color-white);
	background-color:#93949a;
    border-radius: 3px;       
}

.box3:hover{
    transform: perspective(500px) rotate(-40deg) skew(25deg) translate(50px,-50px);/*원근감, 반시계방향으로 회전, x축 기준 25도 경사*/
    box-shadow: -150px 115px 100px rgba(0,0,0,0.3);
}

.box3::before{
    content: '';
    color:antiquewhite;
    font-size: 25px;
    width: 159px;
    height: 19px; 
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-40deg) translate(-89px,3px) rotate(90deg) ; /*Y축 기준 으로 40도 경사,X축 Y축 회전*/ 
    background: #93949a ;
    background-repeat: no-repeat;
    border-radius: 2px;
}

.box3::after{
    content: ' ';
    color:#dc5e73;
    font-size: 20px;
    width:225px;
    height: 19px;
    position: absolute;
    top: 83px;
    left: 28px;
    transform: skewX(-52deg) translate(57px,74px);
    background: #93949a;
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 2px;
}


/* 더 알아보기 */
.learnMore{
	height:100vh;
}

.learnMoreBack{
	background:url(images/user.jpg) fixed;
    background-position: center;
	background-size:cover;
	width:100vw;
	height:70%;
	text-align:center;
	align-items:center;
}

.learnMoreText{
	font-size:3vw;
	font-weight:500;
	top:50%;
	transform:translateY(-50%);
	color:var(--color-white);
	width:inherit;
	position:absolute;
	padding:1%;
}

.learnMoreText h2{
	color:var(--color-white);
	padding:1%;
}

.learnMoreText div{
	padding:0.5%;
}

.learnMoreText a{
	color:var(--color-white);	
}

.learnMoreText a:hover{
	text-decoration:underline;
}

/* 연락하기 */
.contact{
    width: 80%;
    margin:5em;
    justify-content: space-around;
    background-color: pink;
}

/* 1.연락 정보 */
.contactInfo, .contact form{
    width: 45%;
    padding:var(--size-1em);
    border-radius: 15px;
    border:none;
    font-family: var(--font-en); 
    letter-spacing: 5px;
    display: flex;
    flex-direction: column;
    font-size: var(--size-2em);
    background-color: purple;
}

/* 2.이메일 보내기 */
.contact form>input{
    height: var(--size-3em);
    border-radius: 10px;
    margin-bottom:15px;
    font-size: 0.5em;
    border:2px dashed var(--color-green);
    font-family: var(--font-en);
}

.sendBtn{
    height: var(--size-4em);
    border-radius: 5px;
    margin-top:25px;
    border:none;
    background-color: var(--color-green);
    font-family: var(--font-en);
    font-size: var(--size-3em);
    font-weight: 800;
    letter-spacing: 5px;
}


/* 버튼 */
#btn{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
    padding:8px 50px;
    background-color: var(--color-white);
    border-radius:var(--size-1em);
    font-size: 1.4em;
    color:var(--color-black);
    z-index: 5000;
}





/* -------------resume.html------------- */
.career{
    height: auto;
    padding:10em 0;
}

.timeline-wrapper{
	max-width:1500px;
	height:auto;
    width: 1200px;
	padding:0 40px;
}

.practice{
    text-align: center;
    font-size: 6vw;
    font-weight: 800;
}

.practice span{
    padding:0 10px;
}

.practice1{
    animation: textPractice 0.5s;
    animation-delay: 1s;
}

.practice2{
    animation: textPractice 0.5s;
    animation-delay: 2s;
}

.practice3{
    animation: textPractice 0.5s;
    animation-delay: 3s;
}

.practice4{
    animation: textPractice 0.5s;
    animation-delay: 4s;
}


@keyframes textPractice{
    from{
        opacity: 0.1;
        color:rgb(235, 232, 232);
    }
    to{
        opacity: 1;
        color:var(--color-black);
    }
} 

.timeline-wrapper h1{
	letter-spacing:-5px;
    text-align: center;
    font-size: 4vw;
}

.timeline{
	margin: 0 -40px; /*h1과 contens박스 세로줄 맞추기*/
	padding:8em 0;
	position:relative;
}

/* 중간 선 */
.timeline:before{
	content:'';
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:0;
	bottom:0;
	margin:50px 0px -200px; /*선이 늦게 시작해서 늦게 끝나게*/
	width:5px;
	background: rgb(110,110,115);
background: linear-gradient(0deg, rgba(214, 214, 218, 0.226) 0%, rgba(75, 75, 77, 0.555) 100%);
}

/* 사진+텍스트 전체 박스 */
.timeline-item {
    position: relative;
	width: 50%;
	padding: 50px 50px;
	box-sizing: border-box;
    /* background-color: pink; */
}

/*선에 붙은 동그라미*/
.timeline-item:before {
	content: ' ';
	position: absolute;
	right: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 6px solid var(--color-timeline);
    background-color: var(--color-timeline);
	margin: 50px -15px;
}

/*짧은선*/
.timeline-item:after {
	content: '';
	background-color: var(--color-timeline);
	position: absolute;
	top: 7em;
	right: 0;
	width: 40px;
	height: 5px;
	margin: 0 30px;
}

.timeline-item:nth-child(even) {
	margin-left: auto;
	margin-top: -220px;
	margin-bottom: -220px;
}


.timeline-item:nth-child(even):before,
.timeline-item:nth-child(even):after {
	left: 0;
}

.workExperience{
	min-height:400px; /*최소 높이 지정*/
}

.workExperience-contents {
	padding: var(--size-2em);
    /* background-color: purple;	 */
}

.workExperience-contents h2 {
	margin-bottom: 20px;
	font-size: 3.5vw;
    color:var(--color-midgrey);
	display:inline-block;
}

.workExperience-contents h2 strong {
	display: block;	
	color: var(--color-lightgrey);
    font-size: 3vw;
}

.workExperience-contents ul {
	line-height: 2;
	color: var(--color-black);
    letter-spacing: -0.09em;
    text-align: left;
    font-size: 1.5vw;
    font-weight: 600;
    padding:2em 0;
    font-weight: 300;
}

@keyframes fade-in {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

.workExperience-contents span{
	float:right;
    font-weight: 400;
	font-size:0.5em;
	color:var(--color-darkgrey);
    padding-left: 0.5em;
}

/* 다음은.. */
.now{
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
    /* padding-top:3em; */
    height:40vh;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}

.heartWrapper{
    animation: heartbeat 3s ease-in-out infinite both;
}

@keyframes heartbeat{
    from{
        transform:scale(1);
    }
    20%{
        transform:scale(1.3);
    }
    35%{
        transform:scale(1);
    }
    60%{
        transform: scale(1.3);
    }
    100%{
        transform:scale(1);
    }
}

.now img{
    padding: 30px;
    width: 120px;
}

.nowWrapper{
    /* box-sizing: border-box; */
    /* padding:4vw 12vw; */
	display:flex;
	height:100vh;
    align-items: center;
    /* background-color: green; */
}

.wrapper1{
	/* width: 80vw; */
    font-size: 7vw;
    text-align: center;

}

.wrapper2{
    background-image:url(https://giphy.com/embed/Dk57URqjqjHjNGHeMV);
    background-size: cover;
    width: 500px;
    height: 500px;
    padding: 0;
    /* height: 100vh; */
    /* background-color: pink; */
}




.image{
	background-image:url(images/user.jpg);
	background-size:cover;
	width: 63%;
	height:500px;
	background-color:blue;
	margin-top:12em;
}

/* 푸터직전 */
.letsGo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3vw;
    background-color: red;
    height: 100vh;
}

.letsGo span{
    width: 80%;
    background-color: yellow;
    letter-spacing: 10px;
}

.letsGo span:nth-child(1){
    /* background-color: red; */
    font-size: 5vw;
    text-align: left;
    font-weight: 200;
    /* animation: leftToRight 1s forwards; */
}

.letsGo span:nth-child(2){
    /* background-color: orange; */
    text-align: right;
    font-size: 6.5vw;
    font-weight: 300;
    /* animation: rightToLeft 2s forwards; */
}

.letsGo span:nth-child(3){
    /* background-color: yellow; */
    text-align: left;
    font-size: 3.5vw;
    font-weight: 400;
    /* animation: leftToRight 3s forwards; */
}

.letsGo span:nth-child(4){
    /* background-color: greenyellow; */
    text-align: right;
    font-size: 4vw;
    font-weight: 500;
    /* animation: rightToLeft 4s forwards; */
}

@keyframes leftToRight{
    from{
        opacity: 0.2;
        margin-left: 0;
    }
    to{
        opacity: 1;
        margin-left:400px;
    }
}

@keyframes rightToLeft{
    from{
        opacity: 0.2;
        margin-right: 0px;
    }
    to{
        opacity: 1;
        margin-right:200px;
    }
}

/* 캐러셀 */
.carouselWrapper{
width: 80%;
height: 100%;
background-color: blue;
overflow: hidden;
}

.carouselWrapper .carousel1{
    max-width: 100vw;
    margin: auto;
    padding:1vw;
}

.carousel1 .card{
    background-color: pink;
    /* line-height: 25vw; */
    height: 50vh;
    width: 22vw;
    /* font-size: 90px; */
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

.carousel1 .card img{
    width: 100%;
    height: 100%;
}

/* ---------------------- 하단----------------------  */
footer{
    border-top: 1px solid var(--color-darkgrey);
    width: 100%;
    height: 5vh;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    color:var(--color-black);
    font-size: 2vw;
    align-items: center;
}

.copyRight{
    padding: 1vw; 
}

.icon img{
    width: 3vw;
    padding:0.5vw;
}


@media screen and (max-width:768px){
    .timeline-wrapper h1{
        letter-spacing:5px;
    }  
    .nowWrapper{
        display: flex;
        flex-direction: column;
    }
    .mainlogo{
        display: none;
    }
}

@media screen and (max-width:576px){
    .timeline-item:before{
        display: none;
    }
    .timeline-item{
        width: 100%;
    }
    .timeline:before{
        left: 5%;
	    margin:150px 0px -100px; /*선이 늦게 시작해서 늦게 끝나게*/
    }
    .timeline-item:after{
        left: 0;
        height: 2px;
        width: 20px;
    }
}
